{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<link rel="stylesheet" href="/stylesheets/style.css" />
<div class="container">
    <h1>Cinema<br/>Ironhack</h1>
    <button class="button-home"><a href="/movies">Check the movies!</a></button>
</div>
