<link rel="stylesheet" href="/stylesheets/styleMovies.css" />
<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>
<div class="content">
    {{#each movies}}
        <div class="movie">
            <img src={{this.image}}>
            <h2>{{this.title}}</h2>
            <a href={{concat '/movies/' this.id}}>See more</a>
        </div>
    {{else}}
        <p>No movies to be shown</p>
    {{/each}}
</div>