body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 200px;
    flex-wrap: wrap;
}

.movie {
    width: 200px;
    text-align: center;
}

h2 {
    font-size: 14px;
}